html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
section {
  height: auto;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0px; 
  padding: 40px 20px; 
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
/* Individual sections */

#section1 {
    background-color: #1b3254;
    box-sizing: border-box;
    padding-top: 100px; 
    height: auto; 
}


#section2 {
  height: auto;
  min-height: 100vh;
}
@media (min-width:645px){
  .section{
    padding: 0px;
  }
}

